trigger:
  branches:
    include:
    - '*'
resources:
- repo: self
variables:
  tag: '$(Build.BuildId)'
  vmImageName: 'windows-2022'
stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    timeoutInMinutes: 120
    displayName: Build
    pool:
      vmImage: $(vmImageName)
      name: Default
    steps:
    - pwsh: .\buildall.ps1
      name: build_images
      env:
        REGISTRY_USER: $(REGISTRY_USER)
        REGISTRY_PWD: $(REGISTRY_PWD)
        MSSQLINSTALL_CU_URL: $(MSSQLINSTALL_CU_URL)
        MSSQLINSTALL_CUFIX_URL: $(MSSQLINSTALL_CUFIX_URL)
        MSSQLINSTALL_ISO_URL: $(MSSQLINSTALL_ISO_URL)
        REGISTRY_PATH: $(REGISTRY_PATH)
        IMAGE_VERSION: $(Build.SourceBranchName)

    - pwsh: .\buildall.ps1 -Test
      name: run_tests
      # Only build if [build] is present
      condition: not(contains(variables['Build.SourceVersionMessage'], '[notest]'))
      env:
        REGISTRY_USER: $(REGISTRY_USER)
        REGISTRY_PWD: $(REGISTRY_PWD)
        MSSQLINSTALL_CU_URL: $(MSSQLINSTALL_CU_URL)
        MSSQLINSTALL_CUFIX_URL: $(MSSQLINSTALL_CUFIX_URL)
        MSSQLINSTALL_ISO_URL: $(MSSQLINSTALL_ISO_URL)
        REGISTRY_PATH: $(REGISTRY_PATH)
        IMAGE_VERSION: $(Build.SourceBranchName)
        TESTDIR: $(System.DefaultWorkingDirectory)
    - task: PublishTestResults@2
      name: public_tests_results
      inputs:
        testResultsFormat: 'NUnit' # 'JUnit' | 'NUnit' | 'VSTest' | 'XUnit' | 'CTest'. Alias: testRunner. Required. Test result format. Default: JUnit.
        testResultsFiles: '**/*.xml' # string. Required. Test results files. Default: **/TEST-*.xml.
        searchFolder: '$(System.DefaultWorkingDirectory)/NUnit' # string. Search folder. Default: $(System.DefaultWorkingDirectory).
        mergeTestResults: true
        failTaskOnFailedTests: true
        failTaskOnFailureToPublishResults: true
        failTaskOnMissingResultsFile: true
        testRunTitle: Pester
      # Advanced
        #buildPlatform: # string. Alias: platform. Build Platform. 
        #buildConfiguration: # string. Alias: configuration. Build Configuration. 
        publishRunAttachments: true
    - pwsh: .\buildall.ps1 -Push
      name: push_containers
      # Only push if this is a tag, and the tests passed
      condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
      env:
        REGISTRY_USER: $(REGISTRY_USER)
        REGISTRY_PWD: $(REGISTRY_PWD)
        MSSQLINSTALL_CU_URL: $(MSSQLINSTALL_CU_URL)
        MSSQLINSTALL_CUFIX_URL: $(MSSQLINSTALL_CUFIX_URL)
        MSSQLINSTALL_ISO_URL: $(MSSQLINSTALL_ISO_URL)
        REGISTRY_PATH: $(REGISTRY_PATH)
        IMAGE_VERSION: $(Build.SourceBranchName)
