version: "3.7"
services:
  web:
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
        IMG_SERVERCORE2022IIS: ${IMG_SERVERCORE2022IIS}
        IMG_SERVERCORE2022IISNET48: ${IMG_SERVERCORE2022IISNET48}
    image: ${IMG_SERVERCORE2022IIS}
    networks:
      container_default:
        ipv4_address: 172.18.8.8
    environment:
      # Promocionar variables de entorno a variables de sistema
      - SBS_PROMOTE_ENV_REGEX=^SBS_|^NEW_RELIC
      - SBS_CONTAINERTIMEZONE=Pacific Standard Time
      - SBS_SRVENSURE=newrelic-infra
      - SBS_ENTRYPOINTERRORACTION=Stop
      - SBS_SHUTDOWNCLOSEPROCESSES=cmd,powershell,pwsh,logmonitor
      - NEW_RELIC_LICENSE_KEY=badkey
      # Output in the entrypoint loop
      - SBS_MONITORLOGCONFIGURATIONS=[{LogName:["Application"],ProviderName:"*",Level:[1]},{LogName:["Application"], ProviderName:"SbsContainer", Level:[1,2,3,4]}]
networks:
  container_default:
    external: true
