version: "3.7"
services:
  mssql:
    stop_grace_period: 40s
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
        IMG_SERVERCORE2022IIS: ${IMG_SERVERCORE2022IIS}
        IMG_SERVERCORE2022IISNET48: ${IMG_SERVERCORE2022IISNET48}
    image: ${IMG_SQLSERVER2022AS}
    networks:
      - container_default
    environment:
      - SSAS_USERS=user1:8r69s6ZGJKNBeGA
      - SBS_ENTRYPOINTERRORACTION=Stop
      - SBS_SRVENSURE=MSSQLServerOLAPService
      - SBS_SHUTDOWNCLOSEPROCESSES=cmd,powershell,pwsh,logmonitor
networks:
  container_default:
    external: true
