version: "3.7"
services:
  mssql2:
    stop_grace_period: 60s
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 3G
        reservations:
          cpus: '0.5'
          #memory: 2G
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
    image: ${IMG_SQLSERVER2022K8S}
    volumes:
      - "f:/databases/example/data:d:"
      - "f:/databases/example/backup:e:"
      - "f:/databases/example/control:c:/SQLControl"
      - "c:/windows/temp:f:"
    networks:
      container_default:
        ipv4_address: 172.18.8.8
    environment:
      - MSSQL_ADMIN_USERNAME=sa
      - MSSQL_ADMIN_PWD=sapwd
      - MSSQL_DATABASE=mydatabase
      - MSSQL_LIFECYCLE=ATTACH
      - MSSQL_SPCONFIGURE=max degree of parallelism:1;backup compression default:1
      - MSSQL_SPCONFIGURERESTART=0
      - MSSQL_PATH_DATA=d:\data
      - MSSQL_PATH_LOG=d:\log
      - MSSQL_PATH_BACKUP=e:\backup
      - MSSQL_PATH_CONTROL=c:\SQLControl
      - MSSQL_INSTANCENAME=myinstance
      # For debugging timeout at 40s
      - SBS_SHUTDOWNTIMEOUT=40
      # Start services
      - SBS_SRVENSURE=SQLSERVERAGENT;newrelic-infra
      - SBS_TEMPORARY=f:\
      - SBS_ENTRYPOINTERRORACTION=Stop
      # Monitor from event viewer
      - SBS_MONITORLOGNAMES=Application,System
      - SBS_MONITORLOGSOURCE=*
      - SBS_MONITORLOGMINLEVEL=Warning
      - SBS_CRONRUNONBOOT=DeployMssqlNri
      - NEW_RELIC_LICENSE_KEY=
networks:
  container_default:
    external: true
