services:
  mssql:
    stop_grace_period: 60s
    deploy:
      resources:
        limits:
          cpus: '3'
          memory: 3G
        reservations:
          cpus: '0.5'
          #memory: 2G
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
        TEMP: ${BUILD_TEMP}
    image: ${IMG_SQLSERVER2022K8S}
    volumes:
      - "${BUILD_TEMP}/datavolume/data:d:"
      - "${BUILD_TEMP}/datavolume/backup:e:"
      - "${BUILD_TEMP}/temp:f:"
    networks:
      container_default:
        ipv4_address: 172.18.8.8
    environment:
      - MSSQL_ADMIN_USERNAME=sa
      - MSSQL_ADMIN_PWD_PROTECT=sapwd
      - MSSQL_DATABASE=mydatabase
      - MSSQL_DB_RECOVERYMODEL=FULL
      - MSSQL_LIFECYCLE=ATTACH
      - MSSQL_SPCONFIGURE=max degree of parallelism:1;backup compression default:1;
      - MSSQL_SPCONFIGURERESTART=0
      - MSSQL_PATH_DATA=d:\data
      - MSSQL_PATH_LOG=d:\log
      - MSSQL_PATH_BACKUP=e:\backup
      - MSSQL_INSTANCENAME=myinstance
      - MSSQL_MAXMEMORY=286
      - MSSQL_SERVERNAME=MYSERVERNAME
      - SBS_DEBUG=True
      # For debugging timeout at 40s
      - SBS_SHUTDOWNTIMEOUT=40
      # Start services
      - SBS_TEMPORARY=f:\
      - SBS_ENTRYPOINTERRORACTION=Continue
      - SBS_INITASYNC=True
      - MSSQL_DB_NAME=mydatabase 
      # Monitor from event viewer
      - SBS_GETWINEVENT=[{LogName:["Application"],ProviderName:"*",Level:[1]},{LogName:["Application"], ProviderName:"SbsContainer", Level:[1,2,3,4]}]
      - SBS_GETEVENTLOG=[{LogName:"Application", Source:"*", MinLevel:"Information"}, {LogName:"System", Source:"*", MinLevel:"Warning"}]
      - SBS_CRONRUNONBOOT=DeployMssqlNri
      - 'SBS_CRON_MssqlReleaseMemory={"Daily":true,"At":"2023-01-01T05:00:00","DaysInterval":1}'
      - 'MSSQL_LOGIN_APP={"Login":"monitoring", "Password":"MyP@assword", "DefaultDatabase":null, "DatabasesRegex":".*", "Permissions": "CONNECT SQL, VIEW SERVER STATE, VIEW ANY DEFINITION", "Roles":"db_datareader"}'
      - 'MSSQL_LOGIN_APP2={"Login":"dbuser_readonly", "Password":"MyP@assword", "DefaultDatabase":"mydatabase", "DatabasesRegex":"^mydatabase$", "Permissions": "CONNECT SQL", "Roles":"db_datareader"}'
      - 'MSSQL_LOGIN_APP3={"Login":"dbuser_full", "Password":"MyP@assword", "DefaultDatabase":"mydatabase", "DatabasesRegex":"^mydatabase$", "Permissions": "CONNECT SQL", "Roles":"db_datawriter,db_ddladmin,db_datareader"}'
networks:
  container_default:
    external: true
