version: "3.7"
services:
  servercore:
    stop_grace_period: 40s
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
    image: ${IMG_SERVERCORE2022}
    networks:
      - container_default
    environment:
      # Promote to system environment
      - SBS_PROMOTE_ENV_REGEX=^SBS_|^NEW_RELIC
      # Timezone
      - SBS_CONTAINERTIMEZONE=Pacific Standard Time
      # Services that need enforced started
      - SBS_SRVENSURE=newrelic-infra
      # Services that need to be stopped on shutdown
      - SBS_SRVSTOP=newrelic-infra
      # Do not run in ASYNC boot mode
      - SBS_INITASYNC=false
      # Shutdown timeout
      - SBS_SHUTDOWNTIMEOUT=60
      # Scheduled tasks that must be run once during startup
      - 'SBS_CRON_LogRotate={"Daily":true,"At":"2023-01-01T05:00:00","DaysInterval":1}'
      # Run this immediately during boot (async)
      - SBS_CRONRUNONBOOT=LogRotate
      # Error behaviour
      - SBS_ENTRYPOINTERRORACTION=Stop
      # Call the entrypoint shutdown logic
      - SBS_AUTOSHUTDOWN=1
      # Call these proceses during shutdown
      - SBS_SHUTDOWNCLOSEPROCESSES=cmd,powershell,pwsh,logmonitor
      # Output in the entrypoint loop
      - SBS_GETWINEVENT=[{LogName:["Application"],ProviderName:"*",Level:[1]},{LogName:["Application"], ProviderName:"SbsContainer", Level:[1,2,3,4]}]
      - SBS_GETEVENTLOG=[{LogName:"Application", Source:"*", MinLevel:"Information"}, {LogName:"System", Source:"*", MinLevel:"Warning"}]
      # New relic license KEY
      - NEW_RELIC_LICENSE_KEY=badlicensekey
      # Secret key
      - SBS_TESTPROTECT_PROTECT=supersecretekey
      # Other new relic stuff
      - NRIA_CUSTOM_ATTRIBUTES={"environment":"docker"}
networks:
  container_default:
    external: true
