version: "3.7"
services:
  servercore:
    stop_grace_period: 40s
    build:
      context: .
      args:
        IMG_SERVERCORE2022: ${IMG_SERVERCORE2022}
        IMG_SQLSERVER2022AS: ${IMG_SQLSERVER2022AS}
        IMG_SQLSERVER2022BASE: ${IMG_SQLSERVER2022BASE}
        IMG_SQLSERVER2022K8S: ${IMG_SQLSERVER2022K8S}
    image: ${IMG_SERVERCORE2022}
    networks:
      - container_default
    environment:
      # Promote to system environment
      - SBS_PROMOTE_ENV_REGEX=^SBS_|^NEW_RELIC
      # Timezone
      - SBS_CONTAINERTIMEZONE=Pacific Standard Time
      # Services that need enforced started
      - SBS_SRVENSURE=newrelic-infra
      # Do not run in ASYNC boot mode
      - SBS_ENTRYPOINTRYNASYNC=false
      - SBS_ENTRYPOINTRYNASYNCTIMEOUT=180
      # Scheduled tasks that must be run once during startup
      - SBS_CRONRUNONBOOT=LogRotate
      # Error behaviour
      - SBS_ENTRYPOINTERRORACTION=Stop
      # Call the entrypoint shutdown logic
      - SBS_AUTOSHUTDOWN=1
      # Call these proceses during shutdown
      - SBS_SHUTDOWNCLOSEPROCESSES=cmd,powershell,pwsh,logmonitor
      - SBS_MONITORLOGNAMES=Application,System
      - SBS_MONITORLOGSOURCE=*
      - SBS_MONITORLOGMINLEVEL=Warning
      # New relic license KEY
      - NEW_RELIC_LICENSE_KEY=badlicensekey
      # Secret key
      - SBS_TESTPROTECT_PROTECT=supersecretekey
      # Other new relic stuff
      - NRIA_CUSTOM_ATTRIBUTES="{\"environment\":\"docker\"}"
networks:
  container_default:
    external: true
