<?xml version="1.0"?>
<!-- Copyright (c) 2008-2020 New Relic, Inc.  All rights reserved. -->
<!-- For more information see: https://docs.newrelic.com/docs/agents/net-agent/configuration/net-agent-configuration/ -->
<!-- see https://docs.newrelic.com/docs/apm/agents/net-agent/configuration/net-agent-configuration/ -->
<configuration xmlns="urn:newrelic-config" agentEnabled="false" maxStackTraceLines="50">
  <service licenseKey=""
  sendEnvironmentInfo="true"
  syncStartup="false"
  sendDataOnExit="false"
  sendDataOnExitThreshold="60000"
  autoStart="true"/>
  <application>
  </application>
  <log level="error" />
  <allowAllHeaders enabled="false" />
  <attributes enabled="true">
    <exclude>request.headers.cookie</exclude>
    <exclude>request.headers.authorization</exclude>
    <exclude>request.headers.proxy-authorization</exclude>
    <exclude>request.headers.x-*</exclude>
	<exclude>request.headers.sec-*</exclude>
	<exclude>request.headers.user-agent</exclude>
	<exclude>request.headers.upgrade-insecure-requests</exclude>
  </attributes>
  <transactionEvents enabled="true" maximumSamplesStored="50">
    <attributes enabled="true">
    </attributes>
  </transactionEvents>
  <spanEvents enabled="false">
    <attributes enabled="true">
    </attributes>
  </spanEvents>
  <customEvents enabled="true" maximumSamplesStored="50"/>
  <transactionTracer enabled="false" 
	  transactionThreshold="apdex_f" 
	  stackTraceThreshold="750" 
	  recordSql="obfuscated" 
	  explainEnabled="false" 
	  explainThreshold="750" />
  <datastoreTracer>
    <instanceReporting enabled="false"  />
    <databaseNameReporting enabled="false" />
    <queryParameters enabled="false" />
  </datastoreTracer>
  <distributedTracing enabled="false" />
  <customParameters enabled="false" />
  <errorCollector enabled="true" captureEvents="true" maxEventSamplesStored="5">
    <ignoreClasses>
      <errorClass>System.IO.FileNotFoundException</errorClass>
      <errorClass>System.Threading.ThreadAbortException</errorClass>
	  <errorClass>System.Runtime.InteropServices.COMException</errorClass>
	  <errorClass>JWT.Exceptions.TokenExpiredException</errorClass>
	  <errorClass>JWT.Exceptions.InvalidTokenPartsException</errorClass>
	  <errorClass>500.0</errorClass>
    </ignoreClasses>
    <ignoreStatusCodes>
      <code>401</code>
	  <code>402</code>
      <code>403</code>
	  <code>404</code>
	  <code>405</code>
	  <code>406</code>
	  <code>407</code>
	  <code>408</code>
    </ignoreStatusCodes>
  </errorCollector>
  <!--Deshabilitada por defecot la intrumentación de browser-->
  <browserMonitoring autoInstrument="false" />
  <threadProfiling>
    <ignoreMethod>System.Threading.WaitHandle:InternalWaitOne</ignoreMethod>
    <ignoreMethod>System.Threading.WaitHandle:WaitAny</ignoreMethod>
  </threadProfiling>
  <applicationLogging enabled="false">
    <forwarding enabled="false" />
  </applicationLogging>
  <slowSql enabled="false"/>
</configuration>